body, html {
    height: 100%;
    margin: 0;
  }

  /* Full-screen background div */
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/MartialOdysseyBG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; /* Put the background behind all content */
  }

  /* Styling for the text */
  h1, p {
    color: white;
    text-align: center;
    position: relative;
  }